// !footer

.footer {
	background-color: var(--footer-bg);

	padding-top: 48px;
	padding-bottom: 38px;

	&__top {
		display: flex;
		justify-content: space-between;
	}
	&__navigation {
		display: flex;

		gap: 100px;
	}

	&__list {
		list-style: none;

		margin: 0;
		padding: 0;
	}

	&__contacts {
		list-style: none;
		text-align: right;

		display: flex;
		flex-direction: column;

		margin: 0;
		padding: 0;
		gap: 15px;
	}

	&__item {
		font-family: var(--font-family);
		font-weight: 600;
		font-size: 18px;
		line-height: 2.22;

		color: var(--white);

		white-space: nowrap;
	}

	&__item--mod {
		font-weight: 400;
		font-size: 16px;
		line-height: 2;

		color: rgba(255, 255, 255, 0.7);

		position: relative;

		&::after {
			position: absolute;
			content: '';
			top: 50%;
			left: -15%;

			width: 16px;
			height: 2px;

			background: var(--green);
		}
		&-policy::after {
			position: absolute;
			content: '';
			top: 50%;
			left: -11%;

			width: 16px;
			height: 2px;

			background: var(--green);
		}
	}

	&__address {
		font-family: var(--font-family);
		font-weight: 600;
		font-size: 14px;
		line-height: 1.71;

		white-space: nowrap;

		color: var(--white);
	}
	.svg-gap {
		margin-right: 5px;
	}

	&__phone {
		font-family: var(--font-family);
		font-weight: 700;
		font-size: 18px;
		line-height: 1.33;
		letter-spacing: 0.03em;

		color: var(--white);

		white-space: nowrap;
	}

	&__time {
		margin: 0;
		padding: 0;

		font-family: var(--font-family);
		font-weight: 600;
		font-size: 14px;
		line-height: 1.71;

		color: var(--white);
	}

	&__confidence {
		font-family: var(--font-family);
		font-weight: 400;
		font-size: 14px;
		line-height: 2.29;
		text-decoration: underline;
		text-decoration-skip-ink: none;

		color: var(--white);

		position: relative;

		margin-left: 23px;
	}
	&__bottom {
		display: flex;
		justify-content: space-between;
		align-items: center;

		margin-top: 20px;
	}
	&__copyright {
		padding: 0;
		margin: 0;

		font-family: var(--font-family);
		font-weight: 400;
		font-size: 14px;
		line-height: 171%;

		color: var(--white);
	}

	&__copyright span {
		color: #b5b5b6;
	}

	&__logotype {
		min-width: 150px;
	}
}

.social-list {
	display: flex;
	justify-content: right;

	gap: 33px;

	list-style: none;

	// &__item {
	// 	stroke-width: 1px;
	// 	stroke: var(--violet);
	// }
}

.svg--gap {
	display: flex;
	align-items: center;
	justify-content: right;

	gap: 5px;
}
.pnohe--gap {
	display: flex;
	align-items: center;
	justify-content: right;

	gap: 5px;
}

// !media
@media (max-width: 1024px) {
}
@media (max-width: 768) {
}
@media (max-width: 375) {
}
