// !header

.header {
	background-color: var(--header-bg);

	&__top {
		display: flex;
		justify-content: space-between;
		padding: 40px 0;

		&-left {
			display: flex;
			align-items: center;
		}
		&-right {
			display: flex;
			align-items: center;
			gap: 24px;
		}
		&-button {
			box-shadow: 0px 0px 2px 2px var(--white);
			border-radius: 32px;

			width: 140px;
			height: 48px;
			font-family: var(--font-family);
			font-weight: 600;
			font-size: 14px;
			line-height: 171%;
			color: var(--white);

			display: flex;
			align-items: center;
			justify-content: center;

			background: transparent;

			transition: all 0.3s ease;

			&:hover {
				box-shadow: 0px 0px 2px 2px var(--green);
				background: var(--violet);
			}
		}
	}

	&__logotype {
		min-width: 150px;
		margin-right: 32px;
	}

	&__navigation {
		display: flex;
		color: var(--white);
		font-family: var(--font-family);
		font-weight: 600;
		font-size: 12px;
		line-height: 160%;
		text-transform: uppercase;

		&-image {
			background: var(--violet);
			// padding: 15px 15px 10px 15px;
			border-radius: 100%;
			margin-right: 16px;
			display: flex;
			justify-content: center;
			align-items: center;
			width: 50px;
			height: 50px;
		}

		&-top {
			display: flex;
			margin-left: 16px;
			align-items: center;
		}
		&-link {
			padding: 0px 16px;
			position: relative;

			white-space: nowrap;
			overflow: hidden;

			&::before {
				content: '';
				height: 1px;
				width: 0px;
				position: absolute;
				top: 0;
				right: 0;
				background: var(--green);
				transition: all 0.5s ease;
			}

			&:hover::before {
				transform-origin: right;
				width: 100%;
			}

			&::after {
				content: '';
				height: 1px;
				width: 0px;
				position: absolute;
				bottom: 0;
				left: 0;
				background: var(--green);
				transition: all 0.5s ease;
			}

			&:hover::after {
				transform-origin: left;
				width: 100%;
			}
		}
	}
	&__contacts {
		display: flex;
		flex-direction: column;
		gap: 8px;
	}

	&__phone {
		font-family: var(--font-family);
		font-weight: 700;
		font-size: 14px;
		line-height: 1.33;
		letter-spacing: 0.03em;
		color: var(--white);
	}

	&__address {
		font-family: var(--font-family);
		font-weight: 600;
		font-size: 14px;
		line-height: 1.71;

		color: var(--white);
	}
}
