@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy/Gilroy-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy/Gilroy-Semibold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy/Gilroy-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy/Gilroy-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Unbounded';
  src: url('../fonts/Unbounded/Unbounded-ExtraLight.ttf') format('woff2'); 
  font-weight: 300;
  font-style: normal;
  font-display: swap; 
}

@font-face {
  font-family: 'Unbounded';
  src: url('../fonts/Unbounded/Unbounded-Regular.ttf') format('woff2'); 
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Unbounded';
  src: url('../fonts/Unbounded/Unbounded-Medium.ttf') format('woff2'); 
  font-weight: 500;
  font-style: normal;
  font-display: swap; 
}

@font-face {
  font-family: 'Unbounded';
  src: url('../fonts/unbounded-v7-cyrillic_latin-300.woff2') format('woff2'); 
  font-weight: 300;
  font-style: normal;
  font-display: swap; 
}

@font-face {
  font-family: 'Unbounded';
  src: url('../fonts/unbounded-v7-cyrillic_latin-regular.woff2') format('woff2'); 
  font-weight: 400;
  font-style: normal;
  font-display: swap; 
}

@font-face {
  src: url('../fonts/Unbounded/unbounded-v7-cyrillic_latin-500.woff2') format('woff2'); 
  font-family: 'Unbounded';
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}