:root {
	// fonts

	--font-family: 'Gilroy', sans-serif;
	--second-family: 'Unbounded', sans-serif;

	// color

	--green: #60ea05;
	--violet: #7e5af0;
	--white: #fff;
	--grey: #dddddd;
	--black: #000;
	--line: #d2cedb;
	--text: #49484b;
	--background: #f2effa;
	--footer-bg: #0b0b0c;
	--header-bg: #0b0b0c;
}
