.title {
	position: relative;
	margin: 0;
	margin-bottom: 24px;

	font-family: var(--second-family);
	font-weight: 500;
	font-size: 48px;
	line-height: 1.17;

	color: var(--black);

	&::before {
		content: '';
		position: absolute;
		top: 30px;
		left: -230px;
		width: 304px;
		height: 8px;
		z-index: -1;

		background-color: var(--green);
	}
}
